html {margin: 0; padding: 0;}
body {margin: 0; padding: 0; font-family: helvetica; height: 100vh; display: grid; place-items: center; -webkit-appearance: none; -webkit-touch-callout: none;-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default; }
img { /*border-radius: 10px;*/ width: 100%; }
a { color: gray; }

.window { margin-top: 40px; margin-left: 30px; margin-right: 30px; max-width: 600px; }
.window-header { height: 38px; background: rgb(241,241,241); background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(224,224,224,1) 100%); line-height: 41px; border-radius: 8px 8px 0px 0px; border: 1px solid lightgray; padding-left: 15px; padding-right: 15px; text-align: center; position: relative;}

.window-header-btns { display: inline-block; float: left; margin-top: 0px; left: 0; }
.close { display: inline-block; width: 10px; height: 10px; margin-right: 3px; background-color: #FF4751; border: 1px solid #EC1239; border-radius: 50%;}
.hide  { display: inline-block; width: 10px; height: 10px; margin-right: 3px; background-color: #FFC300; border: 1px solid #E5A012; border-radius: 50%;}
.fullscrn { display: inline-block; width: 10px; height: 10px; margin-right: 3px; background-color: #00D229; border: 1px solid #029E20; border-radius: 50%;}

.window-header-name { text-align: center; font-size: 14px; text-shadow: 0px 2px 3px lightgray;}

.window-header-btn { margin-top: 7px; height: 25px; float: right; }
.btn { display: inline-block; width: 37px; background-color: rgb(247,247,247); height: 23px; border: 1px solid lightgray; box-shadow: 0px 1px 0px 0px #d1d1d1; border-radius: 5px; background-image: url('/images/inst_icon.png'); background-repeat: no-repeat; background-position: center; transition: 0.3s;}
.btn:hover { background-color: #e8e8e8; cursor: pointer; transition: 0.3s; }

.window-content{ border: 1px solid lightgray; border-top: 0; border-radius: 0px 0px 8px 8px; padding: 15px; background-color: #FFFFFF;}

.page-footer{ margin-top: 40px; margin-bottom: 40px;  padding-left: 20px; padding-right: 20px; text-align: center; }
.page-footer-link { font-size: 12px; color: gray; display: inline-block; margin-right: 10px; }
.page-footer-link_r{ font-size: 12px; color: gray; display: inline-block; }

.column { float: left; }

.row:after { content: ""; display: table; clear: both; }
.left, .right { width: 25%; }
.middle { width: 50%; }
